In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# step 1: download P18 cruise data
df=pd.read_csv('33RO20161119_hy1.csv',skiprows=149)
df[df==-999]=np.nan
o2=df['OXYGEN'][1:-1] # oxygen
no3=df['NITRAT'][1:-1] # nitrate
dic=df['TCARBN'][1:-1] # total inorganic carbon
sil=df['SILCAT'][1:-1] # silicate
p=df['CTDPRS'][1:-1] # pressure
t=df['CTDTMP'][1:-1] # temperature
sp=df['CTDSAL'][1:-1] # salinity
stn=df['STNNBR'][1:-1] #Station identifier
lat=df['LATITUDE'][1:-1] #latitude
lon=df['LONGITUDE'][1:-1] # longitude

,EXPOCODE,SECT_ID,STNNBR,CASTNO,SAMPNO,BTLNBR,BTLNBR_FLAG_W,DATE,TIME,LATITUDE,...,ALKALI_FLAG_W,PH_SWS,PH_SWS_FLAG_W,PH_TMP,POC,POC_FLAG_W,PON,PON_FLAG_W,SF6,SF6_FLAG_W
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,DEG C,UG/KG,NaN,UG/KG,NaN,PMOL/KG,NaN
1,33RO20161119,P18,1.0,3.0,1.0,11010.0,2.0,20161124.0,1417.0,22.6884,...,2.0,7.5127,2.0,25.00,-999.00,9.0,-999.00,9.0,0.0000,2.0
2,33RO20161119,P18,1.0,3.0,2.0,11101.0,2.0,20161124.0,1417.0,22.6884,...,2.0,7.4893,2.0,25.00,-999.00,9.0,-999.00,9.0,0.0031,2.0
3,33RO20161119,P18,1.0,3.0,3.0,11102.0,2.0,20161124.0,1417.0,22.6884,...,6.0,7.4699,2.0,25.00,-999.00,9.0,-999.00,9.0,-999.0,9.0
4,33RO20161119,P18,1.0,3.0,4.0,11103.0,2.0,20161124.0,1417.0,22.6884,...,2.0,7.4472,2.0,25.00,-999.00,9.0,-999.00,9.0,0.0112,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5096,33RO20161119,P18,212.0,1.0,21.0,11119.0,2.0,20170129.0,245.0,-68.0668,...,2.0,7.6345,2.0,25.00,-999.00,9.0,-999.00,9.0,-999.0,9.0
5097,33RO20161119,P18,212.0,1.0,22.0,11120.0,2.0,20170129.0,245.0,-68.0668,...,6.0,7.7148,2.0,25.00,-999.00,9.0,-999.00,9.0,-999.0,9.0
5098,33RO20161119,P18,212.0,1.0,23.0,11121.0,2.0,20170129.0,245.0,-68.0668,...,2.0,7.7181,6.0,25.00,-999.00,9.0,-999.00,9.0,-999.0,9.0
5099,33RO20161119,P18,212.0,1.0,24.0,11122.0,2.0,20170129.0,245.0,-68.0668,...,2.0,7.7020,2.0,25.00,-999.00,9.0,-999.00,9.0,-999.0,9.0
5100,END_DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN